.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.title > a {
    display: flex;
    justify-content: center;
    flex-basis: 20%;
}

.title > a > img {
    margin: auto;
    width: 100%;
}