.img-container {
    width: 100%;
}

.img-container > img.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    background-color: white;
    padding: 1em;
}

.info-content > .nameObject {
    text-align: start;
    font-weight: 600;
    margin-bottom: .5em;
}

.info-content > div:not(.nameObject) {
    text-align: start;
    font-size: .5em;
    margin: .25em .75em;
}

@media screen and (min-width: 768px) {
    .img-container {
        flex-basis: 35%;
    }

    .info-content {
        flex-basis: 65%;
        margin: 0;
    }
}

@media screen and (min-width: 1024px) {
    .img-container {
        flex-basis: 25%;
    }

    .info-content {
        flex-basis: 75%;
    }

    .info-content > div:not(.nameObject) {
        font-size: .5em;
    }
}

@media screen and (min-width: 1280px) {
    .info-content > .nameObject {
        font-size: 1.5em;
    }
    
    .info-content > div:not(.nameObject) {
        font-size: 1em;
    }
}